<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="furafila.furafilarestaurante">


<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<application




    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme" >
    <activity
        android:name="furafila.view.LoginActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".Welcome"/>


    <activity
        android:name="furafila.view.SplashActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:color/transparent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="furafila.view.MainActivity"
        android:label="furafila"
        android:theme="@android:style/Theme.Holo.Light">
        <intent-filter>
            <action android:name="furafila.furafilarestaurante.app" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name="furafila.view.ViewCardapioRefeicao"
        android:label="furafila"
        android:theme="@android:style/Theme.Holo.Light">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="furafila.view.MainActivity" />
    </activity>
    <activity
        android:name="furafila.view.ViewCardapioBebidas"
        android:label="furafila"
        android:theme="@android:style/Theme.Holo.Light">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="furafila.view.MainActivity" />
    </activity>


    <activity
        android:name="furafila.view.ViewCardapioSobremesa"
        android:label="Cardápio"
        android:theme="@android:style/Theme.Holo.Light">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="furafila.view.MainActivity" />
    </activity>
    <activity android:name="furafila.view.CarrinhoCompraActivity" />


</application>

</manifest>